/* 
Project Name: Gwen Kidera Design & Photography Homepage
Author: Gwen Kidera
Designer in Boston
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 16px;
     line-height: 1.4;
     font-family: 'PT Sans Narrow', sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
}

header {
     height: auto;
     width: 100%;
     background-image: url("../img/pixelsoffury.png");
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
     padding: 4% 44%;
     margin: auto;
}

.standardLayout {
     height: auto;
     width: 100%;
     padding: 2em 18%;
}

/******************************************
/* NAVIGATION                  
/*******************************************/

nav {
     height: 3.5em;
     background-color: #250670;
     width: 100%;
     border-bottom: 5px solid rgba(51,217,194,0.8);
     z-index: 1000;
}

nav ul {
     margin: auto;
}

nav li:not(.subNav) {
     text-align: center;
     height: auto;
     width: 11em;
     float: left;
     padding: 1em;
}

nav li a:not(.subNav) {
     text-decoration: none;
     text-transform: uppercase;
     padding: 1.1em 1em;
     color: white;
}

nav a:hover {
     color: rgba(51,217,194,1);
     background-color: rgba(255,255,255,.2);
}

.subNav a {
     display: none;
}

.topNav:hover .subNav a {
     display: block;
     background-color: #250670;
     margin: 0;
     margin-bottom: .2em;
     padding: 0;
}

.anchor {
     margin-top: -3.5em;
     height: 3.5em;
     display: block;
     visibility: hidden; 
}

.stickytop {
    position: fixed;
    top: 0;
}

/******************************************
/* HEADERS              
/*******************************************/

h2, .introBlurb, .testimonials p:nth-child(2), .experience div p:first-child {
     font-family: 'Droid Serif', serif;
     font-weight: 700;
}

h2 {
     text-align: center;
     width: 8em;
     margin: auto;
     margin-bottom: 2em;
}

.purpleh2 {
     border-top: 1px solid #250670;
     border-bottom: 1px solid #250670;
     color: #250670;
}

.whiteh2 {
     border-top: 1px solid white;
     border-bottom: 1px solid white;
     color: white;
}

h3, label {
     font-weight: 700;
     font-size: 1em;
     text-align: center;
     text-transform: uppercase;
     margin-top: 0;
     margin-bottom: 2em;
     letter-spacing: .5px;
}


/******************************************
/* BUTTON                  
/*******************************************/

.button, .testimonials div, .timeline p {
     background-color: #250670;
     color: white;
     border-radius: .2em;
}

.button {
     text-transform: uppercase;
     text-align: center;
     padding: .2em;
     width: 9em;
     height: 1.5em;
     margin: auto;
     margin-top: 2em;
}

.intro .button {
     float: left;
     margin-top: 0;
}

/******************************************
/* INTRO                   
/*******************************************/

.introBlurb {
     color: #250670;
}

.intro img {
     height: auto;
     width: 25%;
     float: left;
     margin-right: 2em;
}

/******************************************
/* SERVICES                   
/*******************************************/

.services {
     background-color: #b2b0b1;
     color: white;
}

.services .skills {
     float: left;
     width: 33.33%;
}

.services div {
     width: 70%;
     height: 7.7em;
     margin: auto;
     margin-bottom: 4em;
     padding: 1em;
     border: 1px solid white;
     border-radius: .2em;
}

.faded {
     opacity: .5;
}

.hide {
     display: none;
}

.services h3 {
     background-color: #b2b0b1;
}

.services .centerWhite {
     width: 75%;
     margin: auto;
     text-align: center;
}

.services img {
     width: 5em;
     margin: auto;
     display: block;
     margin-bottom: 1em;
}

/******************************************
/* FEATURED WORK               
/*******************************************/

.featuredWork div {
     width: 33.33%;
     float: left;
}

.featuredWork img {
     width: 100%;
     height: auto;
}

.featuredWork a {
    position: relative;
    padding: 0;
    display: block;
}

.featuredWork div p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;  
    right: 0; 
    color: white;
    background-color: rgba(37,6,112,.8);
    border-radius: .2em;
    padding: 1em;
    margin: 0;
    margin-bottom: .4em;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.featuredWork div p:hover {
    opacity: 1;
}

/******************************************
/* EXPERIENCE                 
/*******************************************/

.experience {
     background-image: url("../img/glass.png");
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
     color: white;
}

.columnThird {
     float: left;
     width: 33.33%;
     margin-bottom: 2em;
}

.experience div + div, .columnThird div:first-child {
     background-color:rgba(51,217,194,0.5);
     width: auto;
     padding: 1em;
     margin-bottom: 1em;
     border-radius: .2em;
}

.experience div > p {
     margin: 0;
}

.experience div p:nth-child(2) {
     font-style: italic;
}

.timeline {
     width: 33.33%;
     margin: auto;
}

.timeline p {
     margin: 0;
     margin: auto;
     border-radius: 0;
     width: 7em;
     padding: 5px 20px;
     text-align: center;
}

.timeline p {
     -webkit-clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
     clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
}

/*.timeline p:nth-child(even) {
     -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
     clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
}*/

.timeline p:last-child {
     margin-bottom: 0;
}

.timeline p + div {
     width: 50%;
     height: 7.5em;
     border-right: 1px solid white;
}

/******************************************
/* TESTIMONIALS                   
/*******************************************/

.testimonials {
     height: auto;
}

.testimonials div {
     width: 30%;
     height: auto;
     padding: 1em;
     float: left;
     margin: 1%;
     margin-top: 5%;
     border-top: 10px solid rgba(51,217,194,1);
}

.testimonials img {
     width: 50%;
     height: auto;
     border-radius: 50%;
     margin: -33% 25% 1em 25%;
     border: 5px solid white;
}

.testimonials p:nth-child(2) {
     text-align: center;
     color: white;
     border-bottom: 1px solid white;
     padding-bottom: 1em;
     margin-top: 0;
}

.testimonials p:last-child {
     margin-bottom: 0;
}

/******************************************
/* CONTACT                 
/*******************************************/

.contact {
     background-image: url("../img/contact.png");
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
     color: white;
}

form {
     margin-left: 20%;
     margin-right: 20%;
}

input, textarea {
     height: 2em;
     border: none;
     border-radius: .2em;
     padding: 2%;
}

input {
     width: 100%;
}

textarea {
     width: 100%;
     height: 4em;
     margin-bottom: 2em;
}

.name, .email {
     float: left;
     margin-bottom: 1em;
     width: 49%;
}

.name {
     margin-right: 2%;
}

#submitButton {
     font-size: 16px;
     line-height: 1.4;
     font-family: 'PT Sans Narrow', sans-serif;
     margin: 0 37% 0 37%;
}

/******************************************
/* FOOTER                  
/*******************************************/

.footer {
     background-color: #250670;
     color: white;
     padding: .3rem 18%;
     font-size: .8em;
}

#backToTop {
     display: none;
}

#backToTop a {
     text-decoration: none;
     text-transform: uppercase;
     position: fixed;
     bottom: 2em;
     margin-left: 90%;
     background-color: rgba(51,217,194,0.5);
     color: white;
     padding: 1em;
}
